Lists
-It is a collection of different data types
- list is an ordered collection of mutable data type.
-It denotes with []
-It is index based and slicable
-It contains duplicate values

In [1]:
#create empty list
lst = []
lst = list()

In [4]:
#how to take list input from user
lst1 = list(map(int,input().split()))
print(lst1)
lst2 = list(map(str,input().split()))
print(lst2)
lst3 = list(map(float,input().split()))
print(lst3)

 1 2 3 4 5 6 7

[1, 2, 3, 4, 5, 6, 7]

 1 2 3 4 5 6 7

['1', '2', '3', '4', '5', '6', '7']

 1 2 3 4 5 6 7

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

In [6]:
#collection of different data types and contains duplicate values
arr = [1,2,3, 'a','b','katta',4.9,0,1,'a']
print(arr)

[1, 2, 3, 'a', 'b', 'katta', 4.9, 0, 1, 'a']

In [8]:
#index based and slicable
arr = [1,2,3, 'a','b','katta',4.9,0,1,'a']
print(arr[1])
print(arr[-2])
print(arr[ : ])
print(arr[0:5])
print(arr[0:10:2])
print(arr[::-1])

2
1
[1, 2, 3, 'a', 'b', 'katta', 4.9, 0, 1, 'a']
[1, 2, 3, 'a', 'b']
[1, 3, 'b', 4.9, 1]
['a', 1, 0, 4.9, 'katta', 'b', 'a', 3, 2, 1]

In [10]:
#mutable
arr = [1,2,3, 'a','b','katta',4.9,0,1,'a']
print(arr[0])
arr[0] = "python"
print(arr)

1
['python', 2, 3, 'a', 'b', 'katta', 4.9, 0, 1, 'a']

In [11]:
#length of list
arr = [1,2,3, 'a','b','katta',4.9,0,1,'a']
n = len(arr)
print(n)

10

In [13]:
#string to list type conversion
s1 = "abcd"
l1 = list(s1)
print(l1)
print(type(s1),type(l1))

['a', 'b', 'c', 'd']
<class 'str'> <class 'list'>

In [14]:
#list concatination
l1 = [12,3,4]
l2 = [0,9,8,7]
print(l1 + l2)

[12, 3, 4, 0, 9, 8, 7]

In [15]:
#list repetition
l1 = [12,3,4]
print(l1*4)

[12, 3, 4, 12, 3, 4, 12, 3, 4, 12, 3, 4]

List Methods
append(value)-it adds single value at end of list
extend()-it adds iterable value at end of list
insert()-it adds the value at particular position and followed values are right shifted
remove()-it removes value at first occurance position
pop()-it returns and removes the value at specific position else at end of list
clear()-it removes all elements in the list and returns empty list
del - removes the entire list
count(value)-returns the total occurances of a value in the list
len(list) - returns total elements in the list
min(list_name)- returns min value in list
max(list_name)- returns max value in list
sum(list_name)-sum of all elements in list
sort()-it is used to get list in ascending or decending order
reverse()-used to reverese the list
sorted()-it creates new list for sorted list
index(value)-returns the value of index

In [22]:
#append(value),extend(),insert(),remove(),pop(),clear(),del
arr = [1,2,3, 'a','b','katta',4.9,0,1,'a']
arr.append(33)
print("after append operation:",arr)
arr.extend([22,3,4,5,67])
print("after extend operation:",arr)
arr.insert(79,3)
print("after insert operation:",arr)
arr.remove(3)
print("after remove operation:",arr)
arr.pop()
print("after pop operation:",arr)
arr.clear()
print("after clear operation:",arr)
del(arr)

after append operation: [1, 2, 3, 'a', 'b', 'katta', 4.9, 0, 1, 'a', 33]
after extend operation: [1, 2, 3, 'a', 'b', 'katta', 4.9, 0, 1, 'a', 33, 22, 3, 4, 5, 67]
after insert operation: [1, 2, 3, 'a', 'b', 'katta', 4.9, 0, 1, 'a', 33, 22, 3, 4, 5, 67, 3]
after remove operation: [1, 2, 'a', 'b', 'katta', 4.9, 0, 1, 'a', 33, 22, 3, 4, 5, 67, 3]
after pop operation: [1, 2, 'a', 'b', 'katta', 4.9, 0, 1, 'a', 33, 22, 3, 4, 5, 67]
after clear operation: []