Tuple
-ordered collection of different data type elements
- tuple is immutable data type
- it is index based and slicable
-it denotes with ()
-allows duplicate elements

In [2]:
#create empty tuple
t1 = ()
t1 = tuple()

In [4]:
#tuple with multiple values
t1 = (1,2,3,'a','b','code',3.9)
#tuple with single value
t2 = (54,)

In [7]:
#immutable
t1 = (1,2,3,'a','b','code',3.9)
print(t1[0])
t1[0] = 99
print(t1)

1

TypeError: 'tuple' object does not support item assignment

In [12]:
#read tuple from user
t = tuple(map(int,input().split()))
t1 = tuple(map(str,input().split()))
t2 = tuple(map(float,input().split()))
print(t,t1,t2)

 1 2 3 4 5 6 7
 1 2 3 4 5 6 7
 1 2 3 4 5 6 7

(1, 2, 3, 4, 5, 6, 7) ('1', '2', '3', '4', '5', '6', '7') (1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0)

In [13]:
#tuple concatination
t1 = (1,2,3,4,5)
t2 = ('a','b','c','d',1,2,3,4,5,6,7,8,9,0)
print(t1 + t2)

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [14]:
#tuple repetition
t1 = (1,2,3,4,5)
print(t1*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

#Tuple methods
-index(value)-returns position of value else error
-count(value)-returns total occurances

In [17]:
#index(),count()
t1 = (1,2,3,4,5,1,2,2,3,2,9,8,2,5,2,1,7,2)
print(t1.index(3))
print(t1.count(2))

2
7

In [21]:
#min(),max(),sum(),len(),sorted()
t1 = (2,3,4,5,73,1,5,8)
print(min(t1))
print(max(t1))
print(sum(t1))
print(len(t1))
print(sorted(t1))

1
73
101
8
[1, 2, 3, 4, 5, 5, 8, 73]